.searchBar{
  width: 100%;
}

#leftRight{
  display: inline-flex;
  justify-content: space-between;
  padding: 1em;
}

.left{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
}

.homeInfo{
  width: 100%;
}

.amenities{
  width: 100%;
}

/* #booking-module{
  width: 45%;
  position: sticky;
  top: 50%;
  left: 48%;
} */

#reviews {
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 1125px) {
  #leftRight {
    display: flex;
    flex-direction: column;
  }

  #reviews {
    width: 100%;
  }

  #booking-module{
    width: 100%;
  }
}